
.container {
  padding: 100px 0;

  a {
    text-decoration: unset;
  }

  .card-title {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

